{% extends "base.html" %}
{% load static %}
{% block content %}

<style> 
    #titulo{
        font-size: 24px;
        font-weight: bold;
        color: #330019;
        text-align: center;
        padding: 10px;
    }

    .linha {
        border-bottom: 5px solid #330019; 
    }
    .formulario{
        display; flex;
        margin: 0 auto;
        width:80%;
        padding: 20px;
        border-radiuns: 10px;
        background-color: ;
        height: 100%;
        margin-bottom: 50px;
    }
</style> 

<h4 id="titulo" class="container-fluid">ADICIONAR PRODUTO</h4>
    <div class="linha"></div>
        <div class ="formulario">
                <form action="{% url 'add_categorias' %}" method="post" class="my-4 container-fluid ">
                    {% csrf_token %}
                        <div class="col-md-12">
                           {{form.nome_categoria}} 
                        </div><br>
                        <div class="col-12">
                            <button type="submit" class="btn" style="background-color: #330019;">Salvar</button>
                        </div>
                    </div>
                </form> 
        </div>

{% endblock content%}