{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   
    <div class="d-flex align-items-center mt-4" style="position: relative; background-color: #330019; border: 2px solid #330019; border-top-right-radius: 100px; border-bottom-right-radius: 100px; margin-right: 13px;">
        <div class="fundo-img" style="margin-right: -90px; margin-top: -35px; width: 100px; height: 100px; background-color: #3C5607; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center;"></div>    
        <div class="logoUESC" style="margin-right: 13px; margin-top: -20px; margin-bottom: 13px;">
            <div style="width: 100px; height: 100px; background-color: #ffffff; border: 2px solid #330019; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                <img src="{% static 'logo.png' %}" class="img-fluid" alt="logo" style="max-width: 100%; max-height: 100%; object-fit: contain;">
            </div>
        </div>
        <a href="#">
            <div class="fundo-carrinho" style="position: absolute; bottom: -20px; right: 0px; width: 70px; height: 70px; border: 2px solid #3C5607; background-color: #ffffff; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                <div>
                    <img src="{% static 'carrinho.png' %}" class="img-fluid" alt="logo" style="max-width: 100%; max-height: 100%; object-fit: contain; background-color: #ffffff;">
                </div>
            </div>
        </a>        
    </div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-top: 18px;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" href="#">Informações</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Tags</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorias
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Sapatilhas</a></li>
                  <li><a class="dropdown-item" href="#">Tênis</a></li>
                  <li><a class="dropdown-item" href="#">Botinas</a></li>
                  <li><a class="dropdown-item" href="#">Chinelos e Sandálias</a></li>
                  <li><a class="dropdown-item" href="#">Mochilas e Acessorios</a></li>
                  <li><a class="dropdown-item" href="#">Alpargatas</a></li>
                </ul>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Adicionar Produto
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'add_produtos' %}">Adicionar Produto</a></li>
                  <li><a class="dropdown-item" href="{% url 'add_categorias' %}">Cadastrar Categoria</a></li>
                  <li><a class="dropdown-item" href="{% url 'add_subcategorias' %}">Cadastrar SubCategoria</a></li>
                </ul>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active btn btn-outline-success" style="color: #ffffff; background-color: #3C5607;" href="#">Entre ou Cadastre-se</a>
              </li>
            </ul>
            <form class="d-flex" role="search" style="margin-right: 15px; margin-top: 10px;">
              <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
              <button class="btn" type="submit" style="color: #ffffff; background-color: #3C5607;">Pesquisar</button>
            </form>
          </div>
        </div>
      </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
{% block content %}
<!---Aqui fica o conteúdo da página filha-->
{% endblock content%}

<footer></footer> 